<aside class="logo">
  {% if page.url == '/index.liquid' or page.url == '/' %}
    {% assign link = '/about' %}
    {% assign prompt = 'About the challenge' %}
  {% else %}
    {% assign link = '/' %}
    {% assign prompt = 'Back to solutions' %}
  {% endif %}

  <a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
    <img class="gravatar" src="{{ site.baseurl }}/assets/home.png?s=80">
  </a>
  <span class="logo-prompt">{{ prompt }}</span>

</aside>